#sg-header-area {
    background-color: #f0f0f0;
    white-space: nowrap;
    text-transform: uppercase;
    border-bottom: 1px solid gray;
    font-size: 90%;
    height: 23px;
    line-height: 15px;
    padding: 0;
    margin: 0;
}

#sg-header-area .width-clip {
    position: absolute;
    left: 0;
    right: 0;
}

#header-img {
  background-image: url(/Reddit-Picture.png);
}

#index-img {
  height: 50px;
}

#sg-header-left-ul{
  float: left;
  list-style: none;
  display: grid;
  grid-template-columns: 40px 60px 30px 40px 40px;
  grid-gap: 25px;
}


#reddit-second-nav{
  float: left;
  list-style: none;
  display: grid-inline;
  grid-template-columns: 90px 40px 40px 40px 40px;
  grid-gap: 35px;
  background-color: #bedcf9;
  width: 100%;
}



#sg-header-left-ul a{
  color: black;
}

#sg-header-left-ul li{
  padding-top: 3px;
}

.public-page{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 80% 20%;
}

#login-signup-form{
  background-color: white;
  margin-top: 35%;
}


#new-user-welcome {
  background-color: #f0f0f0;
  width: 500px;
  height: 700px;
  margin-left: 600px;
}

.login {
  background-color: #f0f0f0;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.loginheading{
  text-align: center;
  margin-bottom: 30px;
}

.loginbottomtext{
  text-align: center;
  margin-top: 20px;
}


#description-box {
  height: 200px;
  width: 250px;
}

.comment-box{
  height: 200px;
  width: 250px;
}

.new-comment{
  display: block;
}

#sub-body{
  display: grid;
  grid-template-columns: 80% 20%;
}

#home-body{
  display: grid;
  grid-template-columns: 80% 20%;
}
