<!-- <h1>Title</h1>

<span class="rank">1</span>

<h3><a href="/">Add Animal to System</a></h3>
<hr> -->
<div class="home-page">
  <div class="home-content">

  </div>
  <!-- <div class="login">

  </div> -->
</div>
