
<div class="home-page">
#foreach ($post in $posts)
  <h3><a href="/$post.getSubName()/$post.getId()">$post.getTitle()</a></h3>
  <h5><a href="/$post.getSubName()">$post.getSubName()</a></h5>
  <hr>
#end
</div>
