<h1>Make A New Sub-Gettit</h1>

<form action = "/$user.getUsername()/newSub/" method="post">

  <label for="name">New Sub-Gettit Name:</label>
  <input id="name" name="name" type="text">
  <br>
  <label for="description">Description:</label>
  <br>
  <input id="description-box" name="description" type="text">
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Create New Sub-Gettit</button>

</form>
