<h1>Make A New sub</h1>

<form action = "/$user.getUsername()/newSub/" method="post">
  <br>
  <label for="name">New Sub Name:</label>
  <br>
  <input id="name" name="name" type="text">
  <br>
  <br>
  <label for="description">Description:</label>
  <br>
  <input id="description-box" name="description" type="text">
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Create New sub</button>
</form>
