<h1>$post.getTitle()</h1>
<h2>$post.getContent()</h2>
<br>
<div id="comments">
  #foreach ($comment in $comments)
  <div class="comment">
    <h3>$comment.getComment()</h3>
    <h4>$comment.getUsername(), $comment.getTime()</h4>
  </div>
  #end
</div>
 
