<br>
<h1><a href="/subgettit/$post.getSubName()"></a></h1>
#if($post.getType().equals("link"))
  <h1><a href="$post.getContent()">$post.getTitle()</a></h1>
#else
  <h1>$post.getTitle()</h1>
  <h2>$post.getContent()</h2>
#end
<br>
<div id="comments">
  <h3>Comments section</h3>
  <hr>
  <br>
  #foreach ($comment in $comments)
  <div class="comment">
    <h4>$comment.getComment()</h4>
    <h5>$comment.getUsername(), $comment.getTime()</h5>
  </div>
  #end
</div>
