<!DOCTYPE html>
<html lang="en">
  <head>
    <title>gettit</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/app.css'>
  </head>
  <body>
    <!-- begin inner template-->


    <div class="container-fluid">

      <div id="sg-header-area">
        <div class="width-clip">
          <ul id="sg-header-left-ul">
            <li><a href="/$user.getUsername()"><strong>GETTIT</strong></a></li>
            <li><a href="#">POPULAR</a></li>
            <li><a href="#">ALL</a></li>
            <li><a href="#">RANDOM</a></li>
            #foreach($sub in $subs)
            <li><a href="/$sub.getName()">$sub.getName()</a></li>
            #end
          </ul>
        </div>
      </div>

      <navbar class="nav nav-default" id="reddit-second-nav">
        <ul class="nav nav-tabs">
          <li><img id= "index-img" src="/images/Reddit-Picture.png"><strong><a href="/$user.getUsername()">   GETTIT</a></strong></li>
          <li><a href="#"><span class="glyphicon glyphicon-eye-open"></span>  POPULAR</a></li>

          <li><a href="#"><span class="glyphicon glyphicon-fire"></span> HOT</a></li>

          <li><a href="#"><span class="glyphicon glyphicon-leaf"></span>NEW</a></li>

          <li><a href="#"><span class="glyphicon glyphicon-adjust"></span>CONTROVERSIAL</a></li>
        </ul>
      </navbar>


      <div class="private-page">

        <div class="home-content">
          #parse( $template )
        </div>

      </div>
    </div>
    <!-- end inner template-->
  </body>
</html>
