<!DOCTYPE html>
<html lang="en">
  <head>
    <title>gettit</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/css/app.css'>
  </head>
  <body>
    <!-- begin inner template-->


    <div class="container-fluid">

      <div id="sg-header-area">
        <div class="width-clip">
          <ul id="sg-header-left-ul">
            <li><a href="/"><strong>GETTIT</strong></a></li>
            <li><a href="/hot">POPULAR</a></li>
            <li><a href="/new">ALL</a></li>
            <li><a href="/random">RANDOM</a></li>
          </ul>
        </div>
      </div>



      <navbar class="nav nav-default" id="reddit-second-nav">
        <ul class="nav nav-tabs">
          <li><img id= "index-img" src="/images/Reddit-Picture.png"><strong><a href="/">   GETTIT</a></strong></li>
          <li class="active"><a href="#">POPULAR</a></li>
          <li><a href="#">HOT</a></li>
          <li><a href="#">NEW</a></li>
          <li><a href="#">CONTROVERSIAL</a></li>
        </ul>
      </navbar>


      <div class="public-page">
        <div class="home-content">
          #parse( $template )
        </div>
        <div class="side-col">
          <center id="login-signup-form">
            <div class="login">
              <h1 class="loginheading">Login</h1>
              <form method="post" action="/welcome">
                <div class="form-group nameInput has-feedback">
                  <label for="userUsername">Username</label>
                  <input id="userUsername" class="form-control" type="text" name="userUsername">
                </div>
                <div class="form-group passwordInput has-feedback">
                  <label for="userPassword">Password</label>
                  <input id="userPassword" class="form-control" type="password" name="userPassword">
                </div>
                <button class="btn btn-primary" type="submit" name="button">Log in!</button>
                <p class="loginbottomtext">Still don't have an account? <a href="new-user">Register</a></p>
              </form>
              <!-- ©©© COPYRIGHT ©©©--><p class="text-muted loginbottomtext">© gettit</p>
            </div>
          </center>
        </div>
      </div>



    <!-- end inner template-->
  </body>
</html>
